&#hero {
    height: min(100vh);
    width: max(100%);
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // NAV
    nav {
        // background-color: blue
        ul{
            display: flex;
            justify-content: space-between;
            padding: 1.7rem;
            li {
                &:nth-child(3){
                    border: 1px solid $textColor;
                    padding: 6px 13px;
                    border-radius: 9px 13px;
                    &:hover {
                        background-color: rgb(24, 23, 23);
                        cursor: pointer;
                    }
                }
            
                a {
                    color: $textColor;
                    
                }
            }
        }
    }
    // ARTICLE
    article {
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        div {
            p {
                font-size: 1rem;
            }
            h1 {
                font-size: 4.6rem;
                font-weight: 600;
            }
        }
    }

    //FOOTER
    footer {
        // background-color: blue;
        ul {
            display: flex;
            justify-content: space-between;
            padding: 1.7rem;
        }
    }
    @media only screen and (orientation: portrait) {
        // background-color: palegreen;
        article {
            div {
                p {
                    font-size: .8rem;
                }
                h1 {
                    font-size: 3.6rem;
                }
            }
        }
        :where(nav, footer) ul {
            li {
                font-size: .8rem;
            }
        }
    }
    
}

// @media screen and (max-width: 300px){}

